body,
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: #cad2c5;
}
.main-container {
  /* height: 100vh; */
  background-color: #cad2c5;
}

.header {
  display: flex;
  justify-content: space-between;
  fill: currentColor;
  padding: 2rem;
  color: rgb(255, 255, 255);
  background-color: #2f3d46;
}
.header * {
  background-color: #2f3d46;
}
.heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.side-container {
  width: 70%;
  height: 95%;
  border-radius: 1rem;
  background-color: #353535;
  grid-area: 1/1 / 4/ 3;
  align-self: flex-end;
  justify-self: flex-end;
}

.search {
  width: 80%;
  height: 50%;
  border-radius: 0.5rem;
  background-color: #353535;
  grid-area: 1/3 / 1 / 6;
  align-self: center;
  justify-self: center;
  display: flex;
}

.article {
  width: 100%;
  height: 70%;
  background-color: #353535;
  border-radius: 1rem;
  align-self: center;
  justify-self: center;
}

.content-footer {
  height: 100%;
  width: 100%;
  background-color: #353535;
  border-radius: 1rem;
  margin-right: 1rem;
  align-self: stretch;
  justify-self: stretch;
  grid-area: 3/3/ 4/6;
}

.search-text {
  font-size: 1.2rem;
  align-self: center;
  margin-left: 1.5rem;
  color: #9f9f9f;
  letter-spacing: 0.2rem;
  font-family: cursive;
}
.container {
  display: grid;
  grid-template: 100px 200px 200px / repeat(5, 200px);
  gap: 5rem;
  row-gap: 2rem;
}

.container-out {
  padding: 2rem;
}
